/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  height: 100vh;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.sectionQuestion {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 800px;
  align-items: center;
  align-content: center;
}
.questionTitle {
  font-size: 1.3rem;
  margin-top: -0.25rem;
  margin-left: -1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
.questionTwoTitle {
  font-size: 1.3rem;
  margin-top: -0.25rem;
  margin-left: -1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
.btnOptions {
  min-height: 12rem;
  padding: 1rem 0.2rem;
  border: solid 0.5px white;
  border-radius: 9px;
  max-width: 12rem;
  min-width: 7rem;
  margin-left: 0.5rem;
}
.btnOptionsText {
  min-width: 11rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0.2rem;
  border: solid 0.5px white;
  border-radius: 9px;
  margin-left: 0.5rem;
}
.btnCenterItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 8rem;
  width: 100%;
  align-content: space-arround;
  border-bottom: solid 2px white;
}
.btnTitle {
  align-text: center;
  min-width: 100%;
  margin-top: 0.5rem;
}
input[type="text"] {
  width: 80%;
  border-radius: 49px;
  border-style: solid;
  text-align: center;
  font-weight: 100;
}
::placeholder {
  font-size: 1.5rem;
}
.leftArrow,
.rightArrow {
  max-width: 35%;
}
#btns {
  display: flex;
  align-items: center;
}
.btnSectionLeft {
  display: flex;
  overflow: hidden;
  clear: both;
}
.btnSectionLeft img {
  max-width: 35%;
}
.btnSectionRight {
}
.btnSectionRight img {
  max-width: 35%;
}
button {
  font-weight: 100;
}
span {
  text-align: center;
  font-weight: 200;
}
.arrow-left {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #111111;
}
.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #111111;
}
.arrow1left,
.arrow1right,
.arrow3right,
.arrow3left {
  align-self: flex-end;
}

.arrow2right,
.arrow2left {
  align-self: flex-center;
}

.savebtn {
  padding: 1rem 5rem;
  background: linear-gradient(to right, #6157ff, #4d4470);
  border-radius: 15px;
  color: white;
  margin: 0 15px;
}

@media (max-width: 550px) {
  .sectionQuestion {
    min-width: 350px;
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btnTitle {
    font-weight: 400;
    font-size: 10px;
    max-width: 100px;
  }
}
